body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
}

.position-context {
  width: 100%;
  max-width: 700px;
  height: 300px;
  position: fixed;
  z-index: 100;
}

.swatch-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.swatch {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.swatch-foreground {
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.big,
.small {
  margin: 0;
  padding: 0;
}

.big {
  font-size: 4rem;
  font-weight: bold;
}

.small {
  font-size: 18px;
}

.swatch-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: white;
}

.swatch-stats {
  border-left: none;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.cr-label {
  color: #878787;
  font-size: clamp(1rem, 0.9rem + 1.75vw, 2rem);
}

.cr-value {
  color: #565758;
  font-size: clamp(1.25rem, 1.3rem + 1.75vw, 3rem);
}

.info-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background-color: #ff5500;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #aaa;
  cursor: pointer;
  color: #232323;
}

@media(hover: hover) {
  .info-button:hover,
  .info-button:active {
    outline: solid #ff5500 2px;
    outline-offset: 3px;
  }
}

.control-els {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 2px 1px 3px #ccc;
  overflow: hidden;
}

.title-controls-container {
  color: #999;
  background-color: #444;
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  z-index: 1;
}

.expand-button {
  display: block;
  font-size: 1.5rem;
  background: black;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.title__controls {
  margin: 0;
}

.color-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* FIREFOX */
  margin-bottom: 5px;
}

.colors-container {
  z-index: 0;
  transition: all 0.4s ease-in-out;
}

.colors-container--open {
  transform: translateY(0%);
  height: 100%;
}

.colors-container--closed {
  transform: translateY(-100%);
  height: 0;
}

.color-label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  flex: 30px 0 0;
}

.color-label--red {
  background-color: red;
  color: white;
}

.color-label--green {
  background-color: green;
  color: white;
}

.color-label--blue {
  background-color: blue;
  color: white;
}

.color-label--hsl {
  background-color: orange;
  color: blue;
}

.slider {
  flex: 75% 0 1;
  -webkit-appearance: none;
  height: 16px; /* FIREFOX */
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  overflow: hidden;
}

.slider::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.slider::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  box-shadow: -1007px 0 0 1000px #f50
}

.slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -1007px 0 0 1000px #f50;
  overflow: hidden;
}

.color-value {
  width: 50px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  flex: 50px 0 0;
  border-radius: 5px;
}

.page-footer {
  margin-top: 20px;
  background-color: black;
  padding: 8px 0;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.love {
  color: red;
}